includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  level: max
  reportUnmatchedIgnoredErrors: false
  symfony:
    constant_hassers: false
  excludes_analyse:

  ignoreErrors:
